.headerContainer {
    display: flex;
    justify-content: space-between;
}

.headerLogo{
    width: 50%;
    background-color: white;
    padding: 5% 0px;
    padding-left: 20%;
    text-align: left;
}
.headerbar {
    width: 50%;
    background-color: white;
    padding: 15px 0px;
    text-align: right;
    padding-right: 10%;
}

.headerMenu{
    color: black;
    margin: 5%;
    padding-left: 3%;
    font-size: 5vh;
    text-decoration: none;
    background-color: transparent;
    border: none;
}